{% load static %}

<head>

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% endblock %}
</head>

<!-- search area start -->
<div class="search-area">
    <div class="search-inner p-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="search-wrapper">
                        <div class="search-close">
                            <button class="search-close-btn">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                        <div class="search-content pt-35">
                            <h3 class="heading text-center mb-30">Hi! How can we help You?</h3>
                            <div class="d-flex justify-content-center px-5">
                                <div class="search w-100 p-relative">
                                <input type="text" class="search-input" placeholder="Search...">
                                    <button  class="search-icon">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-overlay"></div>
<!-- search area end -->

<!-- offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__wrapper">
       <div class="offcanvas__close">
          <button class="offcanvas__close-btn offcanvas-close-btn">
             <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
             </svg>
          </button>
       </div>
       <div class="offcanvas__content">
          <div class="offcanvas__top mb-50 d-flex justify-content-between align-items-center">
             <div class="offcanvas__logo logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo/dolotus_logo.png' %}" alt="Corporeit">
                </a>
             </div>
          </div>
          <div class="main-menu-mobile fix d-xl-none mb-40"></div>
          
          <div class="offcanvas__contact">
             <h4 class="offcanvas__title">Contacts</h4>
             <div class="offcanvas__contact-content d-flex">
                <div class="offcanvas__contact-content-icon">
                   <i class="fa-sharp fa-solid fa-location-dot"></i>
                </div>
                <div class="offcanvas__contact-content-content">
                   <a href="https://www.google.com/maps/search/86+Road+Broklyn+Street,+600+New+York,+USA/@40.6897806,-74.0278086,12z/data=!3m1!4b1">86 Road Broklyn Street, 600 </a>
                </div>
             </div>
             <div class="offcanvas__contact-content d-flex">
                <div class="offcanvas__contact-content-icon">
                   <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="offcanvas__contact-content-content">
                   <a href="/cdn-cgi/l/email-protection#9cf2f9f9f8f4f9f0ecdcfff3f1ecfdf2e5b2fff3f1"> <span class="__cf_email__" data-cfemail="a3edc6c6c7cbc6cfd3e3c0ccced3c2cdda8dc0ccce">[email&#160;protected]</span>  </a>
                </div>
             </div>
             <div class="offcanvas__contact-content d-flex">
                <div class="offcanvas__contact-content-icon">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="offcanvas__contact-content-content">
                   <a href="tel:01310-069824"> +92 666 888 0000</a>
                </div>
             </div>
          </div>
          <div class="offcanvas__social">
             <a class="icon facebook" href="#"><i class="fab fa-facebook-f"></i></a>
             <a class="icon twitter" href="#"><i class="fab fa-twitter"></i></a>
             <a class="icon youtube" href="#"><i class="fab fa-youtube"></i></a>
             <a class="icon linkedin" href="#"><i class="fab fa-linkedin"></i></a>
          </div>
       </div>
    </div>
 </div>
 <div class="body-overlay"></div>
 <!-- offcanvas area end -->


<!-- header area start -->
<header class="header-area p-relative">
    <div class="header-box p-relative">
        <div class="header-logo p-relative">
            <span class="header-logo-bg"></span>
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo/dolotus_logo.png' %}" alt="">
            </a>
        </div>

        <div class="header-wrapper-inner header__sticky p-relative">
            <div class="header-top d-none d-xl-flex">
                <div class="header-top-info">
                    <a href="https://www.google.com/maps/search/6391+Elgin+St,+Wilmington,+DE,+USA/@39.7298967,-75.5645038,13z/data=!3m1!4b1" target="_blank"><span><i class="fa-sharp fa-solid fa-location-dot"></i></span>6391 Elgin St. Celina, 10299</a>
                </div>
                <div class="header-top-right d-flex justify-content-end align-items-center">
                    <div class="header-social ">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="header-main-menu d-flex align-items-center justify-content-between">
                <div class="main-menu d-none d-xl-block">
                    <nav class="main-menu-content">
                        <ul>

                            <li class="has-dropdown">
                                <a href="">Living</a>
                                <ul class="submenu">
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flat-circular-vectorslab/68/external-Wall-Painting-interior-flat-circular-vectorslab.png" alt="external-Wall-Painting-interior-flat-circular-vectorslab"/> Wall Deco</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/arcade/64/mirror.png" alt="mirror"/> Mirrors</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-curtain-interior-flaticons-flat-flat-icons.png" alt="external-curtain-interior-flaticons-flat-flat-icons"/> Curtains</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/external-pillow-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" alt="external-pillow-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev"/> Pillows</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/cute-clipart/64/rug.png" alt="rug"/> Rugs</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-vase-museum-flaticons-lineal-color-flat-icons-4.png" alt="external-vase-museum-flaticons-lineal-color-flat-icons-4"/> Vases</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/color/48/spa-candle.png" alt="spa-candle"/> Candles</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">Bedroom</a>
                                <ul class="submenu">
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flat-circular-vectorslab/68/external-Wall-Painting-interior-flat-circular-vectorslab.png" alt="external-Wall-Painting-interior-flat-circular-vectorslab"/> Wall Deco</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/arcade/64/bed.png" alt="bed"/> Bedding</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-curtain-interior-flaticons-flat-flat-icons.png" alt="external-curtain-interior-flaticons-flat-flat-icons"/> Curtains</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/cute-clipart/64/rug.png" alt="rug"/> Rugs</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/doodle/48/potted-plant--v1.png" alt="potted-plant--v1"/> Plants</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/external-nightstand-furniture-and-household-wanicon-lineal-color-wanicon.png" alt="external-nightstand-furniture-and-household-wanicon-lineal-color-wanicon"/> Nightstands</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/color/48/spa-candle.png" alt="spa-candle"/> Candles</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">Kitchen</a>
                                <ul class="submenu">
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/color/48/plate.png" alt="plate"/> Plates</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/fluency/48/salad-bowl.png" alt="salad-bowl"/> Bowls</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/color/48/cutlery.png" alt="cutlery"/> Cutlery</a></li>
                                    <li><a href="">Dinnerware</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/office/16/cup--v1.png" alt="cup--v1"/> Cups</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/arcade/64/travel-mug.png" alt="travel-mug"/> Mugs</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/external-drinks-offered-with-a-lemonade-flavor-at-restaurant-restaurant-color-tal-revivo.png" alt="external-drinks-offered-with-a-lemonade-flavor-at-restaurant-restaurant-color-tal-revivo"/> Glasses</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/plasticine/100/kitchen.png" alt="kitchen"/> Pots</a></li>
                                    <li><a href="">Glass Baking Dish</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/stickers/100/food.png" alt="food"/> Utensils</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/external-Container-kitchen-tools-icongeek26-flat-icongeek26.png" alt="external-Container-kitchen-tools-icongeek26-flat-icongeek26"/> Recipients</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-smashingstocks-isometric-smashing-stocks/55/external-Glass-Bottle-environment-smashingstocks-isometric-smashing-stocks.png" alt="external-Glass-Bottle-environment-smashingstocks-isometric-smashing-stocks"/> Bottles</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/arcade/64/mason-jar.png" alt="mason-jar"/> Jars</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/emoji/48/basket.png" alt="basket"/> Bread Boxes</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-microdots-premium-microdot-graphic/64/external-decor-interior-homedecor-vol2-microdots-premium-microdot-graphic.png" alt="external-decor-interior-homedecor-vol2-microdots-premium-microdot-graphic"/> Other Decors</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">Bathroom</a>
                                <ul class="submenu">
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/dusk/64/towel.png" alt="towel"/> Towels</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/color/48/bathrobe.png" alt="bathrobe"/> Bathrobes</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-mat-sport-equipment-flaticons-flat-flat-icons.png" alt="external-mat-sport-equipment-flaticons-flat-flat-icons"/> Rugs & Mats</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/office/16/curtains.png" alt="curtains"/> Shower Curtains</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/fluency/48/soap-dispenser.png" alt="soap-dispenser"/> Soap Dispensers</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/external-toothbrush-bathroom-icongeek26-flat-icongeek26.png" alt="external-toothbrush-bathroom-icongeek26-flat-icongeek26"/> Toothbrush Holder</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/emoji/48/wastebasket-emoji.png" alt="wastebasket-emoji"/> Baskets & Bins</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-organizer-office-and-office-supplies-flaticons-lineal-color-flat-icons.png" alt="external-organizer-office-and-office-supplies-flaticons-lineal-color-flat-icons"/> Organizers</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-filled-outline-berkahicon/64/external-Toilet-Brush-cleaning-equipment-filled-outline-berkahicon.png" alt="external-Toilet-Brush-cleaning-equipment-filled-outline-berkahicon"/> Toilet Bowl Brush</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/arcade/64/mirror.png" alt="mirror"/> Mirrors</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/color/48/spa-candle.png" alt="spa-candle"/> Candles</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">Office</a>
                                <ul class="submenu">
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/stickers/100/desk.png" alt="desk"/> Furniture</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/stickers/100/storage_1.png" alt="storage_1"/> Office Storage</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-robot-vacuum-cleaning-flaticons-flat-flat-icons.png" alt="external-robot-vacuum-cleaning-flaticons-flat-flat-icons"/> Electronics</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/cute-clipart/64/filled-message.png" alt="filled-message"/> Paper Envelopes</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-office-supplies-office-and-office-supplies-flaticons-lineal-color-flat-icons.png" alt="external-office-supplies-office-and-office-supplies-flaticons-lineal-color-flat-icons"/> Small Office Supplies</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-microdots-premium-microdot-graphic/64/external-decor-interior-homedecor-vol2-microdots-premium-microdot-graphic.png" alt="external-decor-interior-homedecor-vol2-microdots-premium-microdot-graphic"/> Wall Decor</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">Hall</a>
                                <ul class="submenu">
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/stickers/100/desk.png" alt="desk"/> Furniture</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/arcade/64/mirror.png" alt="mirror"/> Mirrors</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-microdots-premium-microdot-graphic/64/external-decor-interior-homedecor-vol2-microdots-premium-microdot-graphic.png" alt="external-decor-interior-homedecor-vol2-microdots-premium-microdot-graphic"/> Wall Decor</a></li>
                                    <li><a href=""><img width="25" height="25" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-mat-sport-equipment-flaticons-flat-flat-icons.png" alt="external-mat-sport-equipment-flaticons-flat-flat-icons"/> Rugs & Mats</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">HoReCa</a>
                                <ul class="submenu">
                                    <li><a href="">Funding</a></li>
                                    <li><a href="">Loan Calculator</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">SALE</a>
                                <ul class="submenu">
                                    <li><a href="">Funding</a></li>
                                    <li><a href="">Loan Calculator</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                 
                <div class="header-main-right d-flex align-items-center justify-content-xl-end">
                    <div class="header-contact d-xl-flex align-items-center d-none">
                        <div class="header-contact-search search-open-btn d-none d-xxl-block">
                            <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        </div>

                        <div class="header-contact-search d-none d-xxl-block">
                            <span><i class="fa-solid fa-cart-shopping"></i></span>
                        </div>

                        <div class="header-contact-inner d-flex align-items-center">
                            <div class="header-contact-icon">
                                <a href="{% url 'register' %}"><span><i class="fa-regular fa-user"></i></span></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="header-sticky-hamburger d-xl-none offcanvas-open-btn">
                       <button class="hamburger-btn">
                          <span></span>
                          <span></span>
                          <span></span>
                       </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->

     <!-- sticky header start -->
     <header id="header-sticky" class="header-main-sticky p-relative">
        <div class="header-space-2">
           <div class="container-fluid">
              <div class="row align-items-center">
                 <div class="col-xl-3 col-6 sticky-bg-logo">
                    <div class="header-logo-2 p-relative">
                       <a href="">
                        <img src="{% static 'images/homepage/corporeit-logo.webp' %}" alt="">
                       </a>
                    </div>
                 </div>
                 <div class="col-lg-6 d-none d-xl-block">
                    <div class="main-menu home-2 d-none d-xl-block">
                       <nav class="main-menu-content">
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>

                            <li class="has-dropdown">
                                <a href="">About Us</a>
                                <ul class="submenu">
                                    <li><a href="">FAQ</a></li>
                                    <li><a href="">Our Team</a></li>
                                </ul>
                            </li>

                            <li class="has-dropdown">
                                <a href="">Services</a>
                                <ul class="submenu">
                                    <li><a href="">Funding</a></li>
                                    <li><a href="">Loan Calculator</a></li>
                                </ul>
                            </li>

                            <li><a href="">News</a></li>
                            </li>

                            <li><a href="">Contact</a></li>
                        </ul>
                       </nav>
                    </div>
                 </div>
                 <div class="col-xl-3 col-6">
                    <div class="header-main-right-2 d-flex align-items-center justify-content-xl-end">
                       <div class="header-contact-2 d-flex align-items-center">
                          <div class="header-contact-search search-open-btn d-none d-xxl-block">
                             <span><i class="fa-solid fa-magnifying-glass"></i></span>
                          </div>
                          <div class="header-contact-inner d-none d-xl-flex align-items-center">
                             <div class="header-contact-icon">
                                <span><i class="fa-regular fa-user"></i></span>
                             </div>
                             <div class="header-contact-content"></div>
                          </div>
                       </div>
                       <div class="header-main-right-hamburger-btn d-xl-none offcanvas-open-btn text-end">
                          <button class="hamburger-btn">
                             <span></span>
                             <span></span>  
                             <span></span>
                          </button>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </header>
     <!-- sticky header end -->